black
ruff
mypy
tox
numpy
scipy
statsmodels
openpyxl
pandas
polars
matplotlib
seaborn
fastcluster
requests
scikit-learn
pycaret[full]
torch
torchvision
torchaudio
autoPyTorch[forecasting]
rdkit
deepchem
biopython
bioinfokit
anndata
scanpy
pymc
arviz
jupyterlab
kaggle
